#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define L_SPC &lt 1 SPACE
#define R_RET &lt 2 RET

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T            &kp Y     &kp U     &kp I     &kp O    &kp P     &kp MINUS
&kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G            &kp H     &kp J     &kp K     &kp L    &kp SEMI  &kp RSHFT
&kp LALT  &kp Z     &kp X     &kp C     &kp V     &kp B            &kp N     &kp M     &kp COMMA &kp DOT  &kp FSLH  &kp RCTRL
                              &kp LCTRL &kp LGUI  L_SPC            R_RET     &kp BSPC  &kp DEL
            >;
        };
            
        lower_layer {
            bindings = <
&trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans
                           &trans   &trans   &trans            &trans   &trans   &trans
            >;
        };
            
        upper_layer {
            bindings = <
&trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans
                           &trans   &trans   &trans            &trans   &trans   &trans
            >;
        };
    };
};