#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        debounce-press-ms = <10>;
        debounce-release-ms = <10>;
        input-gpios
            = <&left 3  GPIO_ACTIVE_LOW>
            , <&left 39 GPIO_ACTIVE_LOW>
            , <&left 36 GPIO_ACTIVE_LOW>
            , <&left 35 GPIO_ACTIVE_LOW>
            , <&left 32 GPIO_ACTIVE_LOW>
            , <&left 30 GPIO_ACTIVE_LOW>
            , <&left 2  GPIO_ACTIVE_LOW>
            , <&left 4  GPIO_ACTIVE_LOW>
            , <&left 37 GPIO_ACTIVE_LOW>
            , <&left 34 GPIO_ACTIVE_LOW>
            , <&left 31 GPIO_ACTIVE_LOW>
            , <&left 29 GPIO_ACTIVE_LOW>
            , <&left 1  GPIO_ACTIVE_LOW>
            , <&left 0  GPIO_ACTIVE_LOW>
            , <&left 38 GPIO_ACTIVE_LOW>
            , <&left 33 GPIO_ACTIVE_LOW>
            , <&left 27 GPIO_ACTIVE_LOW>
            , <&left 28 GPIO_ACTIVE_LOW>
            , <&left 5  GPIO_ACTIVE_LOW>
            , <&left 6  GPIO_ACTIVE_LOW>
            , <&left 7  GPIO_ACTIVE_LOW>
            ;
    };
};

&xiao_i2c {
  	status = "okay";
   	clock-frequency = <I2C_BITRATE_FAST>;
   
   	left: pca95xx@21 {
       	compatible = "nxp,pca95xx";
       	status = "okay";
       	gpio-controller;
       	reg = <0b0100100>;
       	#gpio-cells = <5>;
       	ngpios = <40>;
   	};
   	right: pca95xx@20 {
       	compatible = "nxp,pca95xx";
       	status = "okay";
       	gpio-controller;
       	reg = <0b0100000>;
       	#gpio-cells = <5>;
       	ngpios = <40>;
   	};
};
